*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-inline-size: 320px;
  min-block-size: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}
